<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error: Invalid Input</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Error: Invalid Input</h1>
      <p>The ticker symbol, start date, or end date provided are invalid.</p>
      <p>Please ensure that you have entered valid values and try again.</p>
      <a href="/">Go back</a>
    </div>
  </body>
</html>
