<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monte Carlo Simulation</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Monte Carlo Simulation for {{ ticker }}!</h1>
      <p><strong>Start Date:</strong> {{ start_date }}</p>
      <p><strong>End Date:</strong> {{ end_date }}</p>
      <p><strong>Simulated Trading Days:</strong> {{ trading_days }}</p>
      <p><strong>Iterations:</strong> {{ iterations }}</p>
      <div>
        <h2>Adjusted Close Plot</h2>
        <img
          src="data:image/png;base64,{{ adj_close_img_data }}"
          alt="Adjusted Close Plot"
        />
      </div>
      <div>
        <h2>Monte Carlo Plot</h2>
        <img
          src="data:image/png;base64,{{ monte_carlo_img_data }}"
          alt="Monte Carlo Plot"
        />
      </div>
      <a href="/">Go back</a>
    </div>
  </body>
</html>
